html,
body {
  height: 100%;
  margin: 0;
  background-color: #999999 !important;
}

.login-page,
.signup-page,
.unauthorized-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.unauthorized-page .form-container {
  width: 500px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

p,
a,
h1 {
  margin-top: 10px;
  text-align: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

.backend-status {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
